<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>CoverMyMeds</title>
		<meta name="description" content="">
		<meta name="author" content="Wesley Pettit">

		<meta name="viewport" content="width=device-width; initial-scale=1.0">

		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">

		<!-- jQuery library -->
		<script src="bower_components/jquery/dist/jquery.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>

		<!-- Angular -->

		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

		<!-- My Script -->
		<script src="js/app.js"></script>

		<!-- My CSS -->
		<link type="text/css" href="css/style.css" />

		<style>
			body {
				/*background-color: #F8F8FF;*/
				/*background-color: #DCDCDC*/
				/*background-color:  #F0E68C*/
				/*background-color: #4169E1*/
				background-color: hsl(225, 65%, 65%)
			}
			.w-container {
				background-color: white;
				border-radius: 2px;
				margin: 1em;
				padding: 2em;
			}
		</style>
	</head>

	<body ng-app="app" ng-controller="HomeController">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Code Day</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="#">Home <span class="sr-only">(current)</span></a>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="/logout">Logout</a>
						</li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>

		<div class="container-fluid">
			<div class="row card">
				<div class="col-sm-1" ></div>
				<div class="col-sm-10 w-container">
					<h3>Tasks for {{ current_user.nickname }}</h3>
					<h4 ng-show="tasks.length == 0">You Have No Tasks</h4>
					<ul class="list-group">
						<li ng-repeat="task in tasks" class="list-group-item">
							<h5>{{ task.task_name}} ({{ task.project_name }})</h5>
							<ul class="list-group">
								<div>
									<span class="label label-default">{{ task.current_task.note }}</span>
									<span class="badge">{{ formatTime(task.current_task.duration) }}</span>
									<button type="button"  ng-click="changeState(task)" class="btn btn-default">
										{{ task.button_state }}
									</button>
								</div>
							</ul>
				</div>
				</li>
				</ul>

			</div>
			<div class="col-sm-1" ></div>
		</div>
		<div class="container-fluid">
			<div class="row card">
				<div class="col-sm-1" ></div>
				<div class="col-sm-10 w-container">
					<button type="button" class="btn btn-primary" ng-show="current_user && !modal" ng-click="newTask()">
						New Task
					</button>
					<!-- The Form -->
					<div ng-show="missingfields" class="alert alert-danger">
							<strong>Required Fields:</strong> Project Name, Task Name, and Note.
						</div>
					<form role="form" ng-show="modal">
						<div class="form-group">
							<label>Project Name:</label>
							<input ng-model="project_name" type="text" class="form-control">
						</div>
						<div class="form-group">
							<label>Task Name:</label>
							<input ng-model="task_name" type="text" class="form-control">
						</div>
						<div class="form-group">
							<label>Time Spent On Task Already (Seconds):</label>
							<input ng-model="duration" type="number" class="form-control">
						</div>
						<div class="form-group">
							<label >Task Note:</label>
							<textarea ng-model="task_note" class="form-control"></textarea>
						</div>
						
						<button type="submit" ng-click="submitNewTask()" class="btn btn-default">
							Submit
						</button>
					</form>
				</div>
				<div class="col-sm-1" ></div>
			</div>
		</div>
	</body>
</html>
